html {
  font-family: sans-serif;
  line-height: 1.37;
}

header[role=banner],
main[role=main],
footer[role=contentinfo] {
  margin: 1rem auto;
  max-width: 33rem;
}

fieldset {
  margin: 1rem 0;
}

fieldset legend {
  font-weight: bold;
}

label {
  display: block;
  margin: 1rem 0;
}

input[type=radio], input[type=checkbox] {
  margin-right: 1ex;
}

.description {
  margin: 0.5rem 0 0.5rem 0;
}

.note {
  margin: 0;
}

button[type=submit], button[type=reset] {
  margin: 1rem 0;
  padding: 0.5rem;
}

button[type=reset] {
  float: right;
}
